<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="utf-8">
        <title>The WeatherNode</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<!-- //TODO: Responsible design (vía Modelo de Caja Flexible)-->

<body id="weatherNode">

<article>
        <section>
                <div class="fila">Uno</div>
                <div class="fila">Dos</div>
                <div class="fila">Tres</div>
                <div class="fila">cuatro</div>
        </section>
        <section class="encabezado">
                <h1>
                        <a href="" >
                                <span class="title-detail-begin">El</span><span>Tiemp</span>
                                <span class="title-detail">o</span>
                        </a>
                </h1>
                <h2>(The WeatherNode)</h2>
        </section>
        <section id="condicionesActuales" class="oculto">
                <div class="encabezado derecha">
                        <div class="info oculto">
                                <span class="localidad-temperatura"></span>
                                <span class="estado estado-temperatura"></span>
                                <span class="temperatura temperatura-temperatura"></span>
                        </div>
                </div>
                <div class="imagen-presente derecha">
                        <img class="imagen-actual" src="">
                </div>
        </section>
</article>

<main class="cuerpo">
        <article>
                <section class="entrada">
                        <input id="localidad" type="search" list="localidades" placeholder="Localidad">
                        <img id="getWeatherInfo" alt="Buscar" width="23px" height="23px" src="images/find.png">
                        <!-- //TODO: Ir añadiendo las localidades consultadas a la lista para facilitar una posible búsqueda futura-->
                        <!-- //TODO: Quizá sería bueno guardar esta información en localStorage-->
                        <datalist id="localidades">
                               <!--     <option>San Fernando de Henares</option>
                                        <option>Madrid</option>
                                        <option>Casavieja</option>      -->
                        </datalist>
                        <!-- Muestra un gif animado mientra se ejecuta la consulta Ajax -->
                        <span id="indicadorAjaxEnCurso" class="oculto">
                                <img src="/images/ajax-loader.gif">
                        </span>
                </section>
        </article>

        <article id="forecast-container" class="oculto">

        </article>

        <div id="error-container" class="oculto"></div>
        <div id="validaciones-container" class="oculto"></div>
</main>
<footer>

</footer>

<script  id="forecast-template" type="text/x-handlebars-template">
<div class="resultado tiempo-actual">
        <ul>
                <li class="cabecera">{{cabecera}}</li>
                <li>
                        <ul>
                                <li>
                                        <img id="imagen" class="imagen-reducida" src="{{imagen}}">
                                </li>
                                <li>Temperatura:
                                        <span id="temperatura" class="info">{{temperatura}}</span>
                                </li>
                                <li>Estado:
                                        <span id="estado" class="info">{{estado}}</span>
                                </li>
                                <li>Precipitación:
                                        <span id="precipitacion" class="info">{{precipitacion}}</span>
                                </li>
                                <li>Velocidad del viento:
                                        <span id="velocidad-viento" class="info">{{velocidadViento}}</span>
                                </li>
                        </ul>
                </li>
        </ul>
</div>
</script>

<script src="javascripts/jquery-2.1.0.js"></script>
<!-- Handlebars: Template Engine-->
<script src="javascripts/handlebars-v1.3.0.js"></script>
<script src="javascripts/clientApp.js"></script>

</body>

</html>
